In [200]:
import psycopg2
import pandas as pd
import geopandas as gpd
import numpy as np
import json
from sqlalchemy import create_engine, text
from tqdm import tqdm
from geopy.distance import geodesic

In [4]:
# Define database connection parameters
database_connection = {
    'drivername': 'postgresql',
    'username': 'postgres',
    'password': 'postgres',
    'host': 'localhost',
    'port': '5432',
    'database': 'vic_db',
}


# A psycopg2 connection and cursor
conn = psycopg2.connect(user=database_connection['username'],
                        password=database_connection['password'],
                        host=database_connection['host'],
                        port=database_connection['port'],
                        database=database_connection['database'])
conn.autocommit = True
cursor = conn.cursor()

# Create a SQLAlchemy engine
engine = create_engine('postgresql://%(username)s:%(password)s@%(host)s/%(database)s' % database_connection, isolation_level="AUTOCOMMIT")
conn_alchemy = engine.connect()

In [41]:

# Define the SQL query to select data from the PostGIS table
sql = "SELECT * FROM vmtrans.tr_road_all LIMIT 10;"

# Read data from PostGIS into a GeoDataFrame
gdf = gpd.read_postgis(sql, con=engine)

# # Print the GeoDataFrame
# print(gdf)

In [9]:
# List all tables
cursor.execute("SELECT table_schema, table_name FROM information_schema.tables;")
result_df = pd.DataFrame(cursor.fetchall(), columns=[desc[0] for desc in cursor.description])

In [11]:
cursor.execute("SELECT * FROM vmtrans.tr_road_all LIMIT 10;")
result_df = pd.DataFrame(cursor.fetchall(), columns=[desc[0] for desc in cursor.description])

In [37]:
# In table tr_road_all, create a column called "road_length" which is the length of the road segment
# But not really create it, just create a new column from SELECT statement. Use meters as unit, so we have to convert the length from degree to meters
# cursor.execute("SELECT SUM(ST_Length(geom::geography)) as road_length FROM vmtrans.tr_road_all WHERE ezi_road_name LIKE '%GLENBROOK AVENUE%';")
cursor.execute(
"""
SELECT 
    ST_Length(geom::geography) as road_length,
    ST_AsText(ST_StartPoint(ST_GeometryN(geom, 1))) AS first_point,
    ST_AsText(ST_EndPoint(ST_GeometryN(geom, 1))) AS last_point
FROM vmtrans.tr_road_all 
WHERE ezi_road_name LIKE '%GLENBROOK AVENUE%';
""")
result_df = pd.DataFrame(cursor.fetchall(), columns=[desc[0] for desc in cursor.description])
result_df

,road_length,first_point,last_point
0,74.321053,POINT(144.7845466330001 -37.765636496999946),POINT(144.78466143100002 -37.76497362999993)
1,114.023511,POINT(145.0549611360001 -37.86946304899993),POINT(145.05515306400002 -37.86844708399997)
2,271.300323,POINT(145.12387210600002 -37.90911573999995),POINT(145.12431451100008 -37.90669674099996)
3,52.212317,POINT(145.0548732430001 -37.86992826699998),POINT(145.0549611360001 -37.86946304899993)
4,247.812288,POINT(144.78573093800003 -37.76742263799997),POINT(144.7845466330001 -37.765636496999946)
5,13.516021,POINT(145.12301246200002 -37.91167085699993),POINT(145.12310854800012 -37.911575813999946)
6,287.039748,POINT(145.12310854800012 -37.911575813999946),POINT(145.12387210600002 -37.90911573999995)
7,17.342869,POINT(145.1290169560001 -38.05468524999998),POINT(145.12883521900005 -38.05474658899993)
8,301.855147,POINT(145.05515306400002 -37.86844708399997),POINT(145.0556611290001 -37.86575751099997)
9,164.729226,POINT(144.7879104740001 -37.76769546799994),POINT(144.7860614210001 -37.76747599199996)
10,29.927797,POINT(144.7860614210001 -37.76747599199996),POINT(144.78573093800003 -37.76742263799997)
11,43.790898,POINT(144.78840201900005 -37.767753812999956),POINT(144.7879104740001 -37.76769546799994)
12,236.127362,POINT(145.12883521900005 -38.05474658899993),POINT(145.12690902000008 -38.055755802999954)
13,153.054992,POINT(144.78840201900005 -37.767753812999956),POINT(144.79012492100003 -37.767876874999956)
14,24.112153,POINT(144.79012492100003 -37.767876874999956),POINT(144.79024553700003 -37.767706945999976)
15,15.291751,POINT(144.79012492100003 -37.767876874999956),POINT(144.79029203400012 -37.767839684999956)

In [59]:
# sql = """
# SELECT ezi_road_name, ST_Length(geom::geography) as road_length, ST_AsText(ST_StartPoint(ST_GeometryN(geom, 1))) AS first_point, ST_AsText(ST_EndPoint(ST_GeometryN(geom, 1))) AS last_point FROM vmtrans.tr_road_all WHERE ezi_road_name LIKE '%GLENBROOK AVENUE%';
# """
sql = """
SELECT
    GeometryType(geom) AS geometry_type,
    COUNT(*) AS count
FROM vmtrans.tr_road_all
GROUP BY GeometryType(geom);
"""

pd.read_sql_query(text(sql), conn_alchemy)

     geometry_type    count
0  MULTILINESTRING  1222415

In [68]:
sql = """
SELECT
    from_ufi,
    to_ufi,
    ST_X(first_point::geometry) AS first_point_x,
    ST_Y(first_point::geometry) AS first_point_y,
    ST_X(last_point::geometry) AS last_point_x,
    ST_Y(last_point::geometry) AS last_point_y
FROM vmtrans.tr_road_all
LIMIT 10;
"""
# gpd.read_postgis(text(sql), con=engine)
pd.read_sql_query(text(sql), conn_alchemy)

,from_ufi,to_ufi,first_point_x,first_point_y,last_point_x,last_point_y
0,2036059.0,2036057.0,144.632226,-36.182305,144.635463,-36.182305
1,15554142.0,16288188.0,144.982563,-37.834037,144.983084,-37.833828
2,18459581.0,18459580.0,145.239520,-38.448936,145.239522,-38.448835
3,16725603.0,16384630.0,144.332436,-37.398808,144.333167,-37.399693
4,2408990.0,16729012.0,144.352495,-38.134773,144.353832,-38.134926
5,16288145.0,16288142.0,144.974104,-37.828773,144.973387,-37.827878
6,13177738.0,2273314.0,146.056055,-37.726144,146.055975,-37.726238
7,15347009.0,15347010.0,144.729790,-36.133315,144.730937,-36.133320
8,13157990.0,13157986.0,144.340383,-36.800249,144.340994,-36.799485
9,16678757.0,16678759.0,145.150687,-37.339803,145.149248,-37.340359

In [ ]:
# Add new columns to the table
sql = """
ALTER TABLE vmtrans.tr_road_all
ADD COLUMN road_length_meters double precision,
ADD COLUMN from_point geometry(Point, 7844),
ADD COLUMN to_point geometry(Point, 7844);

UPDATE vmtrans.tr_road_all
SET road_length_meters = ST_Length(geom::geography),
    from_point = ST_StartPoint(ST_GeometryN(geom, 1)),
    to_point = ST_EndPoint(ST_GeometryN(geom, 1));
"""
cursor.execute(sql)
# 1m 30s

In [97]:
# vmtrans.tr_road_all has columns from_ufi, to_ufi, from_point, to_point
# Create a new table from vmtrans.tr_road_all, with 2 columns: ufi, point
# The new table should have 2 rows for each row in vmtrans.tr_road_all, one for from_ufi and from_point, one for to_ufi and to_point
sql = """
CREATE TABLE vmtrans.tr_points AS
SELECT from_ufi AS ufi, from_point AS geom FROM vmtrans.tr_road_all
UNION ALL
SELECT to_ufi AS ufi, to_point AS geom FROM vmtrans.tr_road_all;
"""
cursor.execute(sql)
# 17s - 30s

# Check that each ufi has only one point
sql = """
SELECT ufi, COUNT(DISTINCT geom) AS count
FROM vmtrans.tr_points
GROUP BY ufi
HAVING COUNT(DISTINCT geom) > 1;
"""
cursor.execute(sql)
result = cursor.fetchall()
assert len(result) == 0

# Remove duplicate ufi-geom pairs
sql = """
CREATE TABLE vmtrans.tr_points_clean AS
SELECT ufi, geom
FROM vmtrans.tr_points
GROUP BY ufi, geom;
"""
cursor.execute(sql)

# Rename the table from tr_points_clean to tr_points
sql = """
DROP TABLE IF EXISTS vmtrans.tr_points;
ALTER TABLE vmtrans.tr_points_clean
RENAME TO tr_points;
"""
cursor.execute(sql)

# Assert that ufi is unique
cursor.execute("SELECT COUNT(ufi), COUNT(DISTINCT ufi) FROM vmtrans.tr_points;")
result = cursor.fetchall()
assert result[0][0] == result[0][1]

In [98]:
gpd.read_postgis("SELECT * FROM vmtrans.tr_points LIMIT 10;", con=engine)

          ufi                         geom
0  54637436.0  POINT (148.21369 -35.75781)
1  59918101.0  POINT (145.65433 -36.30990)
2  60425899.0  POINT (149.58132 -36.06935)
3  49754475.0  POINT (147.17442 -35.65763)
4  51705580.0  POINT (143.86532 -37.58262)
5  46722523.0  POINT (146.72891 -36.34118)
6  60416152.0  POINT (148.56595 -35.09645)
7  54757879.0  POINT (144.60838 -36.24235)
8  49692680.0  POINT (144.42042 -34.85279)
9  55247502.0  POINT (146.99632 -36.24295)

In [134]:
# Check that all ezi_road_name are just ezi_road_name_label in uppercase, with ' - ' replaced by '-'
sql = """
SELECT ezi_road_name, ezi_road_name_label
FROM vmtrans.tr_road_all
WHERE REPLACE(UPPER(ezi_road_name_label), ' - ', '-') != ezi_road_name;
"""
cursor.execute(sql)
result = cursor.fetchall()
assert len(result) == 0

In [ ]:
df = pd.read_sql_query(text("SELECT ufi, ezi_road_name, ezi_road_name_label, feature_type_code, direction_code, from_ufi, to_ufi, road_length_meters FROM vmtrans.tr_road_all WHERE feature_type_code = 'ferry_route' AND direction_code IS NOT NULL;"), conn_alchemy)
# B F R

In [146]:
# Implement A* algorithm to find the shortest path between two points
# The graph is represented by the table tr_points
# The cost of each edge is the road_length_meters
# The heuristic is the euclidean distance between two points
# The algorithm should return the path and the total cost

# Define the A* algorithm
frontier = []
visited = set()
path = []

def astar(start, goal):
    frontier.append((0, start, []))
    while frontier:
        cost, current, path = frontier.pop(0)
        if current == goal:
            return path, cost
        if current in visited:
            continue
        visited.add(current)
        for neighbor_point, road_ufi, road_length in neighbors(current):
            # frontier.append((cost + edge_cost(current, neighbor), neighbor, path + [neighbor]))
            if neighbor_point not in visited:
                frontier.append((cost + road_length, neighbor_point, path + [road_ufi]))
        frontier.sort(key=lambda x: x[0] + heuristic(x[1], goal))

# def neighbors(current):
#     sql = f"""
#     SELECT to_ufi, ufi, road_length_meters
#     FROM vmtrans.tr_road_all
#     WHERE from_ufi = {current}
#     AND (direction_code = 'B' OR direction_code = 'F')
#     """
#     cursor.execute(sql)
#     neighbors1 = cursor.fetchall()
#     sql = f"""
#     SELECT from_ufi, ufi, road_length_meters
#     FROM vmtrans.tr_road_all
#     WHERE to_ufi = {current}
#     AND (direction_code = 'B' OR direction_code = 'R')
#     """
#     cursor.execute(sql)
#     neighbors2 = cursor.fetchall()
#     return [(neighbor[0], neighbor[1], neighbor[2]) for neighbor in neighbors1 + neighbors2]


# def heuristic(current, goal):
#     sql = f"""
#     SELECT ST_Distance(
#         (SELECT geom FROM vmtrans.tr_points
#         WHERE ufi = {current}),
#         (SELECT geom FROM vmtrans.tr_points
#         WHERE ufi = {goal})
#     );
#     """
#     cursor.execute(sql)
#     return cursor.fetchall()[0][0]

In [231]:
points_coords = pd.read_sql_query(text("SELECT ufi, ST_X(geom::geometry) AS x, ST_Y(geom::geometry) AS y FROM vmtrans.tr_points;"), conn_alchemy)
points_coords.set_index('ufi', inplace=True)
points_coords = points_coords.to_dict(orient='index')
points_coords = {ufi: (coords['x'], coords['y']) for ufi, coords in points_coords.items()}
# 50s

In [236]:
# sql = "SELECT ufi, ezi_road_name_label, direction_code, from_ufi, to_ufi, road_length_meters, geom FROM vmtrans.tr_road_all;"
# roads_gdf = gpd.read_postgis(sql, con=engine)
roads_df = pd.read_sql_query(text("SELECT ufi, ezi_road_name_label, direction_code, from_ufi, to_ufi, road_length_meters FROM vmtrans.tr_road_all;"), conn_alchemy)
# 45s - 1m

In [242]:
roads_df_B = pd.read_sql_query(text("SELECT ufi, ezi_road_name_label, direction_code, from_ufi AS ufi1, to_ufi AS ufi2, road_length_meters FROM vmtrans.tr_road_all WHERE direction_code = 'B';"), conn_alchemy)

In [240]:
roads_df_F = pd.read_sql_query(text("SELECT ufi, ezi_road_name_label, direction_code, from_ufi AS ufi1, to_ufi AS ufi2, road_length_meters FROM vmtrans.tr_road_all WHERE direction_code = 'F';"), conn_alchemy)

In [241]:
roads_df_R = pd.read_sql_query(text("SELECT ufi, ezi_road_name_label, direction_code, from_ufi AS ufi2, to_ufi AS ufi1, road_length_meters FROM vmtrans.tr_road_all WHERE direction_code = 'R';"), conn_alchemy)

In [243]:
len(roads_df_B), len(roads_df_F), len(roads_df_R)

(1179787, 42173, 44)

In [244]:
# Convert roads into a list of tuples
roads = roads_df.to_dict(orient='records')

In [245]:
neighbors = {}
with tqdm(total=len(roads)) as pbar:
    for i, road in enumerate(roads):
        if road['direction_code'] == 'B' or road['direction_code'] == 'F':
            if road['from_ufi'] not in neighbors:
                neighbors[road['from_ufi']] = []
            neighbors[road['from_ufi']].append((road['to_ufi'], road['ufi'], road['road_length_meters']))
        if road['direction_code'] == 'B' or road['direction_code'] == 'R':
            if road['to_ufi'] not in neighbors:
                neighbors[road['to_ufi']] = []
            neighbors[road['to_ufi']].append((road['from_ufi'], road['ufi'], road['road_length_meters']))
        pbar.update(1)

100%|██████████| 1222415/1222415 [00:03<00:00, 392469.57it/s]

In [247]:


def heuristic(current, goal):
    # Get distance in real world from coordinates
    # Convert to meters
    # Calculate geodesic distance between two points in meters
    lon1, lat1 = points_coords[current]
    lon2, lat2 = points_coords[goal]
    distance = geodesic((lat1, lon1), (lat2, lon2)).meters
    return distance

def astar(start, goal):
    frontier = []
    visited = set()
    path = []
    frontier.append((0, 0, start, []))
    while frontier:
        _, cost, current, path = frontier.pop(0)
        # print(cost, current)
        if current == goal:
            return path, cost
        if current in visited:
            continue
        visited.add(current)
        for neighbor_point, road_ufi, road_length in neighbors.get(current, []):
            # frontier.append((cost + edge_cost(current, neighbor), neighbor, path + [neighbor]))
            if neighbor_point not in visited:
                heuristic_cost = heuristic(neighbor_point, goal)
                frontier.append((cost + road_length + heuristic_cost, cost + road_length, neighbor_point, path + [road_ufi]))
        frontier.sort(key=lambda x: x[0])

In [248]:
# Pick a random start and goal
distance = 0
while distance <= 400000:
    start = np.random.choice(list(points_coords.keys()))
    goal = np.random.choice(list(points_coords.keys()))
    distance = heuristic(start, goal)
start, goal, heuristic(start, goal), points_coords[start], points_coords[goal]

(15557690.0,
 54726457.0,
 592495.6147522959,
 (145.274664937, -38.036086646999934),
 (140.59715157000005, -34.27591565599994))

In [249]:
path, cost = astar(start, goal)
# 3m

In [250]:
cost

689117.1452578194

In [251]:
path

[15557266.0,
 1463540.0,
 1463463.0,
 1463159.0,
 1462996.0,
 1462841.0,
 39178568.0,
 47545287.0,
 47545288.0,
 47545302.0,
 47650456.0,
 47650663.0,
 47650664.0,
 47650666.0,
 47650665.0,
 47650651.0,
 47650667.0,
 47650668.0,
 47650652.0,
 47650653.0,
 47650654.0,
 47650655.0,
 47650656.0,
 47650657.0,
 47650659.0,
 47650658.0,
 69951778.0,
 69951753.0,
 69951754.0,
 67320559.0,
 67320567.0,
 67320566.0,
 69951747.0,
 69951748.0,
 53489130.0,
 53489126.0,
 47544103.0,
 47544101.0,
 47544099.0,
 47544178.0,
 47544182.0,
 47544179.0,
 47544096.0,
 47543995.0,
 1459472.0,
 47544006.0,
 47544005.0,
 47543999.0,
 1458691.0,
 1458612.0,
 45494310.0,
 63739056.0,
 63739072.0,
 63738915.0,
 63739018.0,
 63739017.0,
 63738908.0,
 63739051.0,
 52638232.0,
 52638233.0,
 65097154.0,
 52638120.0,
 65097158.0,
 65097153.0,
 52638112.0,
 52638111.0,
 56932504.0,
 56932430.0,
 56932429.0,
 52638103.0,
 52868993.0,
 52868986.0,
 52263441.0,
 65097146.0,
 52638513.0,
 62442675.0,
 62442674.0,
 13096271.0,
 69201637.0,
 69201635.0,
 65096875.0,
 56804561.0,
 69201442.0,
 56506097.0,
 56506096.0,
 69201438.0,
 69201439.0,
 56506093.0,
 56506091.0,
 56506088.0,
 45107811.0,
 47158258.0,
 47158257.0,
 51571478.0,
 51571477.0,
 47158415.0,
 47158250.0,
 47158252.0,
 47158251.0,
 1451335.0,
 1451083.0,
 65096907.0,
 59861715.0,
 59861716.0,
 59861719.0,
 61901395.0,
 69201370.0,
 69201374.0,
 69201372.0,
 69201597.0,
 59861495.0,
 59861510.0,
 59861512.0,
 59861511.0,
 61901404.0,
 69201354.0,
 69201353.0,
 69201625.0,
 69201627.0,
 65096911.0,
 69201350.0,
 69201348.0,
 1447365.0,
 69201345.0,
 69201347.0,
 69201346.0,
 69201323.0,
 69201322.0,
 69201321.0,
 69201320.0,
 69201318.0,
 1445884.0,
 59861568.0,
 59861554.0,
 59861553.0,
 69201314.0,
 69201313.0,
 69201308.0,
 69201307.0,
 69201306.0,
 59800213.0,
 59861571.0,
 61901412.0,
 61901481.0,
 61901482.0,
 61901426.0,
 61901425.0,
 61901429.0,
 61901441.0,
 61901483.0,
 61901487.0,
 61901490.0,
 61901456.0,
 61901486.0,
 61901447.0,
 59861592.0,
 57948634.0,
 57948658.0,
 57948659.0,
 69201410.0,
 69201409.0,
 57948664.0,
 57948614.0,
 57947541.0,
 69201399.0,
 69201570.0,
 69201403.0,
 54167206.0,
 70115562.0,
 69201292.0,
 69201286.0,
 69201285.0,
 69201281.0,
 69201278.0,
 69201583.0,
 69201586.0,
 69201600.0,
 59861808.0,
 59861630.0,
 59861631.0,
 70115604.0,
 12494709.0,
 12494821.0,
 69201605.0,
 69201606.0,
 57914331.0,
 57914913.0,
 57914750.0,
 57915647.0,
 70115570.0,
 64795831.0,
 64795832.0,
 61901389.0,
 61901385.0,
 61901488.0,
 61901489.0,
 15598284.0,
 15598286.0,
 15598288.0,
 57915273.0,
 57948046.0,
 57948619.0,
 57948618.0,
 57948621.0,
 57948620.0,
 64764675.0,
 57948622.0,
 64764674.0,
 64914922.0,
 66465380.0,
 66465381.0,
 64914926.0,
 64914931.0,
 64914912.0,
 54167187.0,
 39336401.0,
 39336400.0,
 16136172.0,
 15337020.0,
 15337021.0,
 35499195.0,
 15337023.0,
 35499188.0,
 35499186.0,
 35499184.0,
 59861827.0,
 59861829.0,
 39336413.0,
 39336414.0,
 56670950.0,
 56670951.0,
 56670949.0,
 15337005.0,
 15337004.0,
 15337003.0,
 15337006.0,
 15736794.0,
 15736795.0,
 15337019.0,
 43913225.0,
 43913224.0,
 43913228.0,
 43913230.0,
 43913233.0,
 43913234.0,
 43913235.0,
 15337014.0,
 15337015.0,
 15337016.0,
 15337017.0,
 45632003.0,
 45632004.0,
 39336421.0,
 39336419.0,
 39336417.0,
 45157654.0,
 45157655.0,
 45115686.0,
 45115700.0,
 35117814.0,
 35113863.0,
 35113862.0,
 45113972.0,
 45113974.0,
 45112607.0,
 45114598.0,
 45114582.0,
 43912507.0,
 69175781.0,
 69175782.0,
 63332276.0,
 69175783.0,
 69175784.0,
 69175785.0,
 69176274.0,
 69176275.0,
 69175828.0,
 69175786.0,
 69175787.0,
 69175788.0,
 69175789.0,
 69175790.0,
 13155158.0,
 13155157.0,
 13155156.0,
 13155155.0,
 43912611.0,
 69175823.0,
 69175824.0,
 45157791.0,
 45157804.0,
 43912644.0,
 43912701.0,
 43912645.0,
 43912657.0,
 43912693.0,
 43912692.0,
 43912687.0,
 43912688.0,
 43912674.0,
 43912675.0,
 63332271.0,
 63332270.0,
 45114445.0,
 45114441.0,
 45114442.0,
 45114443.0,
 45114444.0,
 43912738.0,
 45114524.0,
 45114523.0,
 45114521.0,
 45114500.0,
 45114513.0,
 45114514.0,
 45114504.0,
 45155240.0,
 62504823.0,
 39157423.0,
 56419697.0,
 66591607.0,
 66591606.0,
 12496529.0,
 12794992.0,
 12800915.0,
 12794988.0,
 58128381.0,
 58128382.0,
 58128579.0,
 70238232.0,
 70238238.0,
 70238237.0,
 70238230.0,
 70238240.0,
 46335160.0,
 56721897.0,
 56721895.0,
 56721903.0,
 46335134.0,
 46335145.0,
 57785869.0,
 57785870.0,
 57785735.0,
 57785731.0,
 57785744.0,
 57785748.0,
 57785749.0,
 69253010.0,
 69252947.0,
 69252949.0,
 69252948.0,
 57785899.0,
 57785890.0,
 57785540.0,
 57850765.0,
 57850728.0,
 57850727.0,
 57850771.0,
 57785542.0,
 57785541.0,
 64819615.0,
 1380894.0,
 64819960.0,
 1380239.0,
 1380146.0,
 13100014.0,
 13100013.0,
 12794823.0,
 1379934.0,
 64819952.0,
 1379686.0,
 63673849.0,
 56419643.0,
 56419642.0,
 56419690.0,
 56419689.0,
 56419644.0,
 1379453.0,
 1379442.0,
 1379354.0,
 1379236.0,
 7696424.0,
 63673835.0,
 7696423.0,
 63673756.0,
 19231925.0,
 1378892.0,
 63673809.0,
 63673820.0,
 66662464.0,
 66662463.0,
 50723815.0,
 50723808.0,
 50723809.0,
 50723817.0,
 50723851.0,
 50723837.0,
 50723838.0,
 50729111.0,
 50729105.0,
 1375391.0,
 52788343.0,
 52788342.0,
 52788338.0,
 1374214.0,
 55062285.0,
 55062286.0,
 48163006.0,
 48163005.0,
 48163004.0,
 48163003.0,
 48163002.0,
 48163001.0,
 48163000.0,
 48162999.0,
 48162998.0,
 48162997.0,
 48162996.0,
 1371305.0,
 1370529.0,
 1370435.0,
 1370068.0,
 1369973.0,
 1369769.0,
 48162995.0,
 51573586.0,
 63673791.0,
 51573590.0,
 62102670.0,
 62102671.0,
 62102667.0,
 48163021.0,
 48163065.0,
 48163062.0,
 48163235.0,
 48163237.0,
 48163234.0,
 48163072.0,
 48163071.0,
 48163068.0,
 48163276.0,
 63637909.0,
 48163269.0,
 48163268.0,
 48163267.0,
 48163266.0,
 48163265.0,
 48163264.0,
 48163257.0,
 48163256.0,
 48163255.0,
 48163261.0,
 48163252.0,
 62714095.0,
 62714092.0,
 48163249.0,
 48163247.0,
 48163245.0,
 48163246.0,
 48163105.0,
 48163104.0,
 48163100.0,
 48163098.0,
 48163097.0,
 48163111.0,
 48163126.0,
 48163118.0,
 48163116.0,
 48163117.0,
 48163114.0,
 48163113.0,
 51081554.0,
 48163131.0,
 48163130.0,
 48163139.0,
 48163138.0,
 48163145.0,
 48163156.0,
 48163155.0,
 48163231.0,
 48163230.0,
 48163227.0,
 48163226.0,
 48163225.0,
 48163167.0,
 69931928.0,
 69931927.0,
 48162993.0,
 64824580.0,
 64824579.0,
 63637902.0,
 48163181.0,
 48163172.0,
 48163046.0,
 48162991.0,
 48163022.0,
 48163038.0,
 48162988.0,
 48163023.0,
 48163024.0,
 48163025.0,
 48163184.0,
 48163183.0,
 63637899.0,
 63637900.0,
 48162980.0,
 48163187.0,
 48163188.0,
 48162977.0,
 48163193.0,
 48163194.0,
 65710233.0,
 65710232.0,
 57516437.0,
 57516435.0,
 57516431.0,
 48163215.0,
 48163214.0,
 57516417.0,
 57516416.0,
 57517505.0,
 57517506.0,
 57517507.0,
 57517498.0,
 57517499.0,
 57517500.0,
 45090015.0,
 42559189.0,
 45109093.0,
 45109091.0,
 45109094.0,
 65361958.0,
 65361959.0,
 64766488.0,
 69204064.0,
 69204063.0,
 66135759.0,
 68741687.0,
 68741689.0,
 68741688.0,
 66136158.0,
 62434140.0,
 52689808.0,
 52689807.0,
 34938125.0,
 34938126.0,
 52688078.0,
 52688079.0,
 52687730.0,
 52687728.0,
 52688034.0,
 54676382.0,
 54676383.0,
 52689811.0,
 46162606.0,
 46162951.0,
 45157764.0,
 69204120.0,
 69203679.0,
 69203683.0,
 69203684.0,
 69203667.0,
 66074106.0,
 66074103.0,
 66074104.0,
 66074107.0,
 65361975.0,
 65361976.0,
 62481438.0,
 62481439.0,
 54676378.0,
 70160799.0,
 56894927.0,
 65656208.0,
 46197015.0,
 46197016.0,
 61974966.0,
 61974967.0,
 43868806.0,
 43868788.0,
 45211873.0,
 34927233.0,
 70160796.0,
 34927259.0,
 65656050.0,
 34927283.0,
 34927284.0,
 45484058.0,
 45484057.0,
 19390141.0,
 19390135.0,
 57637547.0,
 58108690.0,
 58108698.0,
 58108697.0,
 1324142.0,
 1324137.0,
 1324063.0,
 35530362.0,
 57637561.0,
 57637560.0,
 34927293.0,
 34927292.0,
 57637529.0,
 57637530.0,
 57637531.0,
 57637526.0,
 57637527.0,
 57637464.0,
 57637469.0,
 60688969.0,
 60688968.0,
 59492594.0,
 59492599.0,
 59492598.0,
 59492597.0,
 34927336.0,
 47549309.0,
 47549308.0,
 35530373.0,
 70160602.0,
 68685588.0,
 70160599.0,
 70160603.0,
 34927396.0,
 34927400.0,
 45115743.0,
 57638456.0,
 57637295.0,
 62481435.0,
 62481478.0,
 70160493.0,
 70160492.0,
 46066317.0,
 46066319.0,
 58108799.0,
 70160421.0,
 46066330.0,
 46066336.0,
 70160384.0,
 70160258.0,
 70160259.0,
 70160261.0,
 65362025.0,
 65362026.0,
 62481409.0,
 62481414.0,
 62481412.0,
 62481411.0,
 62481394.0,
 65362020.0,
 65362021.0,
 38240080.0,
 70160205.0,
 70160204.0,
 70160134.0,
 65362035.0,
 62481389.0,
 65362161.0,
 65362038.0,
 65362040.0,
 65362041.0,
 68578753.0,
 68578754.0,
 68578752.0,
 68578811.0,
 65362050.0,
 55730653.0,
 55730654.0,
 45108313.0,
 45108315.0,
 41902387.0,
 57602138.0,
 57602139.0,
 45111241.0,
 45111240.0,
 38240122.0,
 65362044.0,
 70160083.0,
 70160086.0,
 65362054.0,
 70159966.0,
 70159967.0,
 57636456.0,
 57636455.0,
 70159954.0,
 70159955.0,
 70159956.0,
 70159883.0,
 70159882.0,
 57636403.0,
 70159881.0,
 55428838.0,
 70159880.0,
 57636267.0,
 55990340.0,
 55990337.0,
 59631075.0,
 55990333.0,
 57636301.0,
 58109058.0,
 58109057.0,
 57636363.0,
 57636364.0,
 55428835.0,
 55428834.0,
 58109062.0,
 57636327.0,
 65656070.0,
 57636330.0,
 57636331.0,
 47549362.0,
 57636337.0,
 68578777.0,
 68578778.0,
 57636366.0,
 47549372.0,
 57636361.0,
 57636362.0,
 57636357.0,
 47549375.0,
 55990322.0,
 55990324.0,
 38297099.0,
 38297098.0,
 38297103.0,
 46257208.0,
 55990312.0,
 55990311.0,
 57636299.0,
 57636347.0,
 57636348.0,
 38240186.0,
 38240187.0,
 38240188.0,
 38240205.0,
 38240207.0,
 52917423.0,
 52917424.0,
 52917418.0,
 52917419.0,
 52917417.0,
 61310279.0,
 61310278.0,
 38240220.0,
 38240222.0,
 45113073.0,
 45112903.0,
 37396323.0,
 34927617.0,
 34927615.0,
 38240228.0,
 38240227.0,
 56093815.0,
 56093812.0,
 56093806.0,
 45113076.0,
 45113380.0,
 52917810.0,
 45115772.0,
 45115775.0,
 55335240.0,
 55335239.0,
 45113382.0,
 45112811.0,
 15384794.0,
 45113403.0,
 45113404.0,
 34927666.0,
 34927670.0,
 69085959.0,
 47542013.0,
 65362071.0,
 65362072.0,
 34927696.0,
 65362156.0,
 65362076.0,
 65362080.0,
 65362079.0,
 65362081.0,
 65362082.0,
 45655507.0,
 45655508.0,
 45655509.0,
 45655510.0,
 45655511.0,
 48948962.0,
 48948961.0,
 58536485.0,
 58536483.0,
 47162621.0,
 47184367.0,
 47184370.0,
 47162624.0,
 48239102.0,
 48239103.0,
 48239109.0,
 63448041.0,
 69086228.0,
 58190519.0,
 52890636.0,
 52890633.0,
 52890623.0,
 52890618.0,
 52890619.0,
 52890532.0,
 52890629.0,
 52890630.0,
 58134742.0,
 58134743.0,
 55335226.0,
 55335215.0,
 63635491.0,
 63635492.0,
 53853681.0,
 53853683.0,
 57814592.0,
 53355416.0,
 53355420.0,
 53355417.0,
 53853677.0,
 47157623.0,
 67268676.0,
 67268677.0,
 67268678.0,
 67268670.0,
 53485017.0,
 46931224.0,
 59479885.0,
 59479887.0,
 59479889.0,
 59479897.0,
 44060148.0,
 44060144.0,
 44060140.0,
 44060138.0,
 67269051.0,
 67269050.0,
 67269048.0,
 67269044.0,
 66268225.0,
 66268221.0,
 67269038.0,
 67269037.0,
 67269036.0,
 66268231.0,
 66268224.0,
 66268223.0,
 66268226.0,
 67269021.0,
 67269020.0,
 59479864.0,
 59479867.0,
 59479866.0,
 59479857.0,
 59479859.0,
 59479861.0,
 59479862.0,
 59479831.0,
 44017344.0,
 44017343.0,
 59479809.0,
 59479811.0,
 59479810.0,
 59479808.0,
 43918105.0,
 43918104.0,
 15962057.0,
 16436040.0,
 15962063.0,
 15962072.0,
 43917873.0,
 53383236.0,
 59477720.0,
 53383238.0,
 51280529.0,
 51280531.0,
 51280543.0,
 51280542.0,
 51280538.0,
 51280539.0,
 51280536.0,
 65738849.0,
 59477722.0,
 52813686.0,
 52813687.0,
 53854246.0,
 65738768.0,
 53854252.0,
 49180923.0,
 53853248.0,
 59498588.0,
 59498563.0,
 49180971.0,
 53853244.0,
 53853245.0,
 53853246.0,
 53853247.0,
 49180972.0,
 53853655.0,
 53853656.0,
 53853650.0,
 62790340.0,
 62790343.0,
 62790344.0,
 62790341.0,
 62790335.0,
 62790338.0,
 62790337.0,
 62790334.0,
 57514051.0,
 65909901.0,
 65909894.0,
 57514043.0,
 50721600.0,
 65698368.0,
 48182831.0,
 58700628.0,
 58700627.0,
 43839756.0,
 43839684.0,
 43839683.0,
 43839681.0,
 38240354.0,
 38240355.0,
 38240356.0,
 38240357.0,
 11519850.0,
 45225428.0,
 43839628.0,
 43839627.0,
 43839624.0,
 51081632.0,
 51081634.0,
 51081633.0,
 45225409.0,
 1784081.0,
 51081637.0,
 51081643.0,
 65698314.0,
 43839405.0,
 54662954.0,
 54662955.0,
 54662953.0,
 51081650.0,
 51081649.0,
 43839329.0,
 43839328.0,
 43839321.0,
 38240371.0,
 56097120.0,
 56097121.0,
 43838249.0,
 43838250.0,
 43838251.0,
 45111270.0,
 65698363.0,
 43838172.0,
 43838171.0,
 16436182.0,
 59831383.0,
 59831384.0,
 65095659.0,
 65095662.0,
 65095664.0,
 65095661.0,
 43840442.0,
 68673565.0,
 68673564.0,
 23679393.0,
 64773614.0,
 64773613.0,
 38240395.0,
 38240394.0,
 23679377.0,
 23679376.0,
 68570889.0,
 68570888.0,
 23679384.0,
 23679383.0,
 23679381.0,
 38240402.0,
 68570933.0,
 68570932.0,
 46174726.0,
 46174727.0,
 46174731.0,
 46174732.0,
 23679396.0,
 23679395.0,
 63743522.0,
 63743524.0,
 15414991.0,
 36733035.0,
 35734496.0,
 36092344.0,
 13100633.0,
 1775376.0,
 1775205.0,
 15414702.0,
 ...]

In [210]:
len([point for point in neighbors.keys() if len(neighbors[point]) <= 2])

377121

In [218]:
path

[57979328.0,
 57979327.0,
 57979501.0,
 60201905.0,
 60201903.0,
 60201906.0,
 60201907.0,
 60201913.0,
 60201915.0,
 57979013.0,
 57984906.0,
 64711422.0,
 64711419.0,
 57984826.0,
 57985720.0,
 57985719.0,
 1353494.0,
 1353917.0,
 1354382.0,
 1355146.0,
 1355728.0,
 1356453.0,
 1356569.0,
 15308241.0,
 15308242.0,
 51545136.0,
 51545137.0,
 51545069.0,
 1361339.0,
 1361773.0,
 1362674.0,
 1363075.0,
 1363909.0,
 1364887.0,
 15735619.0,
 23190479.0,
 23190478.0,
 64711327.0,
 15533376.0,
 15533381.0,
 15533382.0,
 15533380.0,
 15735623.0,
 15735624.0,
 15533377.0,
 20948869.0,
 20948870.0,
 20948823.0,
 20948824.0,
 20948819.0,
 20948820.0,
 20948817.0,
 20948816.0,
 1370339.0,
 1370407.0,
 1370467.0,
 1370514.0,
 1370574.0,
 1370589.0,
 1371064.0,
 1371628.0,
 1372077.0,
 1372339.0,
 1372455.0,
 1372955.0,
 1372967.0,
 1372999.0,
 1373045.0,
 1373053.0,
 15533402.0,
 15533403.0,
 21642594.0,
 21642593.0,
 21642596.0,
 21642599.0,
 21642600.0,
 23190750.0,
 58498325.0,
 58498326.0,
 23190754.0,
 16388405.0,
 59800127.0,
 59800161.0,
 59799959.0,
 15533413.0,
 1378551.0,
 1379314.0,
 1379445.0,
 38539342.0,
 38539343.0,
 45156012.0,
 45155236.0,
 45112650.0,
 52820189.0,
 52820082.0,
 1380730.0,
 15533416.0,
 15533415.0,
 1381530.0,
 1382224.0,
 64711487.0,
 21643124.0,
 21643126.0,
 15735638.0,
 15735635.0,
 15735634.0,
 1385944.0,
 1386045.0,
 1387036.0,
 1387477.0,
 69085295.0,
 52738437.0,
 52738502.0,
 52738263.0,
 1388878.0,
 54175937.0,
 54175939.0,
 54175938.0,
 50892311.0,
 1389257.0,
 1389775.0,
 1390206.0,
 1390602.0,
 1391826.0,
 1392001.0,
 1392259.0,
 1393091.0,
 1393559.0,
 1393692.0,
 1394268.0,
 1394470.0,
 1394849.0,
 64819227.0,
 69085258.0,
 13096066.0,
 21643002.0,
 21643003.0,
 1396478.0,
 21643000.0,
 21643001.0,
 1397148.0,
 1397736.0,
 48230737.0,
 48830421.0,
 53522686.0,
 53522714.0,
 53522715.0,
 53522684.0,
 53522685.0,
 53522717.0,
 53522718.0,
 53522719.0,
 69085288.0,
 53522692.0,
 53522669.0,
 53522690.0,
 53522722.0,
 53522721.0,
 53522723.0,
 53522724.0,
 53525157.0,
 53525175.0,
 53525176.0,
 53525177.0,
 53525178.0,
 53525218.0,
 53525217.0,
 53525174.0,
 69883783.0,
 69883584.0,
 69883585.0,
 69883578.0,
 53525172.0,
 53525179.0,
 53525171.0,
 69883780.0,
 69883784.0,
 46172883.0,
 1405893.0,
 1406249.0,
 1406600.0,
 1407152.0,
 58508541.0,
 58508535.0,
 58508552.0,
 58508553.0,
 58508554.0,
 58508537.0,
 1408820.0,
 1408971.0,
 1409478.0,
 1409477.0,
 1409552.0,
 1409865.0,
 1410300.0,
 64799914.0,
 1410976.0,
 1411137.0,
 1411258.0,
 1411396.0,
 1411752.0,
 1412473.0,
 1413539.0,
 1413914.0,
 12509866.0,
 51578803.0,
 51578811.0,
 51578812.0,
 51578809.0,
 64799626.0,
 1414502.0]

In [144]:
# Find the shortest path between two points
# Take 2 random points from tr_points
sql = """
SELECT ufi
FROM vmtrans.tr_points
ORDER BY random()
LIMIT 2;
"""
cursor.execute(sql)
start, goal = cursor.fetchall()
start, goal = start[0], goal[0]

# path, cost = astar(start, goal)
# path, cost
start, goal

(54162190.0, 60409536.0)